<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Author details</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="fragments/adminDashMenu">MENU</div>
<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title" th:text="${author.name}"></h3>
                    <h3 class="card-title" th:text="${author.surname}"></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>